version: '2'

services:
  ss:
    image: "shadowsocks/shadowsocks-libev"
    restart: always
    environment:
     - METHOD=aes-256-gcm
     - PASSWORD=SSPASSWORD
    ports:
     - "8388:SSPORT"

  snell:
    image: "happyjake/snell-server:latest"
    restart: always
    environment:
    - SERVER_HOST=0.0.0.0
    - SERVER_PORT=SNPORT
    - PSK=SNPSK
    - OBFS=http
    ports:
     - "SNPORT:SNPORT"

